:root {
  --max-width: 1100px;
  --font-mono: 'Cascadia Mono', 'Segoe UI Mono', 'Oxygen Mono',
    'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
    'Courier New', monospace;
}

body {
  overscroll-behavior: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
